<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>日志管理</title>
	<link rel="stylesheet" type="text/css" href="../static/css/easyui.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/icon.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../static/js/style.js"></script>
    <script>  $(document).ready(function(){  
        $(".window").css("display","none");  
        $(".window-shadow").css("display","none");
    });
	</script>
</head>
<body class="body_so">
<div class="box_inner">
    <div class="path">
    系统管理 > 日志管理
    </div>
    <div class="box_content">
    	<div class="box_search">
        	<span class="text">起始时间</span>
            <input class="w120" type="text" />
            <span class="text ml20">结束时间</span>
            <input class="w120" type="text" />
            <a class="btn_org ml10">搜索</a>
        </div>
        <div class="btn_box">
            <span class="line_y"></span>
        	<a class="btn_icon del">删除</a>
            <span class="line_y"></span>
        </div>
        <table class="tableStyleA hav_qx">
            <tr>
                <th width="4%"><input type="checkbox" /></th>
                <th width="5%">序号</th>
                <th>用户名称</th>
                <th>IP地址</th>
                <th>日志类型</th>
                <th>菜单路径</th>
                <th>机构</th>
                <th>操作类型</th>
                <th>操作结果</th>
                <th>备注</th>
                <th>是否移动访问</th>
                <th>时间</th>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>1</td>
                <td>admin</td>
                <td>113.108.186.130</td>
                <td></td>
                <td>日志管理</td>
                <td>根节点</td>
                <td>日志管理</td>
                <td></td>
                <td></td>
                <td>false</td>
                <td>2017-03-23 16:35:59</td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>2</td>
                <td>admin</td>
                <td>113.108.186.130</td>
                <td></td>
                <td>日志管理</td>
                <td>根节点</td>
                <td>日志管理</td>
                <td></td>
                <td></td>
                <td>false</td>
                <td>2017-03-23 16:35:59</td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>3</td>
                <td>admin</td>
                <td>113.108.186.130</td>
                <td></td>
                <td>日志管理</td>
                <td>根节点</td>
                <td>日志管理</td>
                <td></td>
                <td></td>
                <td>false</td>
                <td>2017-03-23 16:35:59</td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>4</td>
                <td>admin</td>
                <td>113.108.186.130</td>
                <td></td>
                <td>日志管理</td>
                <td>根节点</td>
                <td>日志管理</td>
                <td></td>
                <td></td>
                <td>false</td>
                <td>2017-03-23 16:35:59</td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>5</td>
                <td>admin</td>
                <td>113.108.186.130</td>
                <td></td>
                <td>日志管理</td>
                <td>根节点</td>
                <td>日志管理</td>
                <td></td>
                <td></td>
                <td>false</td>
                <td>2017-03-23 16:35:59</td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>6</td>
                <td>admin</td>
                <td>113.108.186.130</td>
                <td></td>
                <td>日志管理</td>
                <td>根节点</td>
                <td>日志管理</td>
                <td></td>
                <td></td>
                <td>false</td>
                <td>2017-03-23 16:35:59</td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>7</td>
                <td>admin</td>
                <td>113.108.186.130</td>
                <td></td>
                <td>日志管理</td>
                <td>根节点</td>
                <td>日志管理</td>
                <td></td>
                <td></td>
                <td>false</td>
                <td>2017-03-23 16:35:59</td>
            </tr>
        </table>
        <div class="pages">
        	<div class="text">每页10条  共548条</div>
            <select>
                <option>7</option>
            </select>
            <a class="bb"><img src="../static/css/images/pages_a.png" /></a>
            <a class="bb"><img src="../static/css/images/pages_b.png" /></a>
            <span>1</span>
            <a>2</a>
            <a class="bb"><img src="../static/css/images/pages_c.png" /></a>
            <a class="bb"><img src="../static/css/images/pages_d.png" /></a>
        </div>
        

    </div>
</div>

</body>
</html>